h1 {
    font-size: 59px;
    font-weight: 700;
    line-height: 95px;
}
.Hero__text--saludo {
    font-size: 48px;
    font-weight: 700;
    color: #0F0A0A;
}

.Hero__text--info {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}